
# mv, rm, cp
alias mv='mv -v'
alias rm='rm -i -v'
alias cp='cp -v'

# git

function clone() {
    git clone --depth=1 $1
    cd $(basename ${1%.*})
    yarn
}

alias push="git push"

# Undo a `git push`
alias undopush="git push -f origin HEAD^:master"

# checkout master
alias master="git checkout master"

# Recursively delete `.DS_Store` files
alias cleanup_dsstore="find . -name '*.DS_Store' -type f -ls -delete"

# Networking. IP address, dig, DNS
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"

# Update installed Ruby gems, Homebrew, npm, and their installed packages

alias brew_update="brew -v update; brew upgrade --force-bottle --cleanup; brew cleanup; brew cask cleanup; brew prune; brew doctor; npm-check -g -u"

alias update_brew_npm_gem='brew_update; npm install npm -g; npm update -g; sudo gem update --system; sudo gem update --no-document'

